body {
  padding: 0px;
  margin: 0px;
  background-color: #00BFFF;
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 10px;
}

.container {
  padding-left: 10px;
  float: left;
}

.results {
  float: left;
  padding-left: 40px;
  padding-top: 17px;
}

a:link {
  color: DFE0E2;
}

#artistDiv {
  padding-top: 10px;
}

h2 {
  padding-left: 10px;
}
