body {
    padding: 20px;
}
#search-form, .form-control {
    margin-bottom: 20px;
}

.container {
    float: left;
}

.results {
    float: left;
    padding-left: 20px;
    padding-top: 17px;
}

ol {
}
